@media screen and (max-width: 768px){

    .nav-btn {
        display: block;
    }

    .navlinks{
        top: 60px;
        left: 0px;
        z-index: 1;
        width: 100%;
        display: none;
        position: absolute;
        background-color: #ffffff;
    }

    .navlinks li{
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    .navlinks li a{
        color: #000;
        display: block;
        text-align: center;
        text-decoration: none;
    }

    .navlinks li a:hover{
        color: #ffa600;
        font-weight: bold;
    }


    .navlinks li button {
        width: 50%;
        margin-left: -150px;
        text-align: center;
    }
      
      
    .navlinks li button a{
        text-align: center;
    }


    /* .content-1 {
        display: block;
    }


    .right-sec {
        width: 100%;
    }

    .right-sec h1 {
        font-size: 3.2rem;
        width: 100%;
        line-height: 1.2;
        color: #ffa600;
        display: block;
        text-align: center; */
        /* background-color: green; */
    /* } */

    /* .right-sec p {
        font-size: 2rem; */
        /* background-color: green; */
        /* color: rgb(255, 255, 255);
        text-align: center;
    }
          */

    /* .mini_sec_1 { */
        /* background-color: rgb(0, 140, 255); */
        /* margin: auto;
        position: relative;
        z-index: 25 !important;
    } */

    /* .left-sec {
        width: fit-content;
        display: block;
        margin: 50px auto;
    }
      
    .left-sec img {
        height: 250px;
        box-shadow: 10px 10px 5px #ffa600;
        /* -moz-box-shadow: 10px 10px 5px #ffa600; */
        /* -webkit-box-shadow: 10px 10px 5px #ffa600; */
        /* -khtml-box-shadow: 10px 10px 5px #ffa600; */
    /* }
    
    .left-sec img:hover {
        will-change: transform;
    } */





    /* .content-2 {
        width: 100%;
        display: block;
        margin: 10px auto
    }
    
    .right_mini_sec_2 {
        width: 350px;
        height: 350px;
        margin: 50px 50px;
        position: relative;
        background-color: purple;
    }

    .right_mini_sec_2 img{
        height: 100%;
        width: 100%;
        
        background-color: red;
    }
    
    .left_mini_sec_2 {
        width: 100%;
        display: block;
        background-color: green;
    }
    
    .left_mini_sec_2 h1 {
        font-size: 3em;
        padding: 50px;
        text-align: center;
        background-color:blue;
    }

      
    
  

    .grid-container {
        width: 100%;
        display: grid;
        grid-gap: 2px;
        grid-template-columns: 50% 50%;
        text-align: center;
        align-items: center;
        justify-content: center; 
        flex-direction: column;
    }  */
}


/* @media screen and (max-width: 480px){

    .grid-container {
        display: grid;
        grid-gap: 2px;
        grid-template-columns: 100%;
        text-align: center;
        align-items: center;
        justify-content: center; 
        flex-direction: column;
    }
} */
