@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
:root {
    --primary-color: #e4588be6;
    --secondary-color: #4a61e2cc;
}

body {
    font-family: 'Montserrat', sans-serif;    
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
}
h1,p {
    padding: 0;
    margin: 0;
}

header {
    background-color: #071077;
}

.header-heading {
    padding: 0.5rem 0.5rem 0 0.5rem;
    font-size: 2.5rem;
    letter-spacing: 1px;
    word-spacing: 5px;
}
.header-para {
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem 1rem 0.5rem;
    text-decoration: underline red;
}

main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 80%;
    background-color: var(--secondary-color);
    color: black;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    padding: 1rem;
    margin: auto;
}

.bill, .cash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bill {
    margin: 0 0 1rem 0;
}
.bill label, .cash label {
    font-size: 2rem;
    font-weight: 600;
}
.bill input, .cash input {
    font-size: 1.8rem;
    width: 50%;
    text-align: center;
    padding: 0.3rem 0;
    border-radius: 0.5rem;
    border: none;
}

.next-button, .check-button {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0.3rem 3rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 3px 3px black;
    cursor: pointer;
}
.next-button:hover, .check-button:hover {
    background-color: black;
    color: white;
    box-shadow: 3px 3px white;
}
.next-button:active, .check-button:active {
    box-shadow: none;
    transform: translateY(3px);
}
.check-button {
    margin-bottom: 1rem;
}

.divider {
    width: 80%;
    padding: 1px;
    margin: 0 auto ;
    background-color: rgba(0, 0, 0, 0.21);
    border: none;
}

table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-collapse: collapse;
    font-size: 1.5rem;
    margin: auto;
    width: 80%;
    margin-bottom: 1rem;
}
.table-heading {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
}

th,td {
    border: 2px solid black;
    padding: 0 0.5rem;
    background-color: pink;

}
td {
    padding: 0 0.8rem;
}

.bill-error, .cash-error {
    font-size: 1.3rem;
    font-weight: 500;
    background-color: rgb(241, 88, 121);
    color: white;
    border-radius: 0.8rem;
    padding: 0.5rem 2rem;
}
.bill-error {
    margin: 1rem;
}

.paid {
    font-size: 1.3rem;
    font-weight: 600;
    background-color: rgb(241, 88, 121);
    width: 60%;
    margin: 0.5rem auto;
    padding: 0.5rem 0.5rem;
    border-radius: 0.8rem;
}

@media (max-width:646px) {
    .bill input, .cash input {
        width: 80%;
    }
    main {
        width: 90%;
    }
    table {
        font-size: 1.5rem;
        width: 100%;
    }
    th, td {
        line-height: 1.8rem;
        padding: 0 0.3rem;
    }
}

@media (max-width:425px) {
    .header-heading {
        font-size: 2rem;
        padding: 0.5rem 0;
        letter-spacing: 0;
        word-spacing: 0;
    }
    .header-para {
        font-size: 1.1rem;
    }
    .bill label, .cash label {
        font-size: 1.6rem;
    }
    .bill input, .cash input {
        font-size: 1.3rem;
    }
    .next-btn, .check-btn {
        font-size: 1rem;
        font-weight: 700;
    }
    .bill-error, .cash-error {
        font-size: 1rem;
        padding: 0.1rem 0.5rem;
        line-height: 1.4rem;
    }
    .paid {
        font-size: 1rem;
    }
    table {
        font-size: 1.1rem;
    }
    .table-heading {
        font-size: 1rem;
    }
}