:root{
  --color-black:#111;
  --color-orange:#ffa600;
}
/* Priyanshu CSS */
* {
  margin: 0%;
  padding: 0%;
  scroll-behavior: smooth;
  position: relative;
  z-index: 20 !important;
  box-sizing: border-box;
}

html {
  position: relative;
  z-index: 20 !important;
}
body {
  padding-top: 68px;
  color: var(--color-black);
  font-family: "Montserrat", sans-serif;
}

.content {
  padding: 40px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

/* Navbar start */
.nav_wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 68px;
  background-color: var(--color-orange);
  z-index: 999 !important;
  transition: all 0.3s ease-in-out;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  padding: 0 20px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

/* Left part */
.left a{
  display: flex;
  align-items: center;
  color: var(--color-black);
}
.left a:hover{
  color: var(--color-black);
  text-decoration: none;
}

#logo {
  height: 60px;
  width: 60px;
}
#webtools {
  font-size: 28px;
  margin: 0;
}

/* Right part */
.right {
  padding-right: 15px;
}

.right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  column-gap: 1.8em;
  margin: 0;
}

.right li {
  transition-duration: 300ms;
}
.right li:hover {
  transform: rotateZ(5deg) scale(120%);
}

.right li a {
  text-decoration: none;
  color: var(--color-black);
  font-size: 1.1rem;
  font-weight: bold;
  transition: all 140ms ease-in-out;
}

.right li a:hover {
  color: var(--color-black);
  text-decoration: none;
}

.right .tools_btn {
  color: var(--color-black);
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  padding: 0.5em 1em;
  border-radius: 6px;
  background-color: rgb(243, 243, 243);
  transition: all ease-in 170ms;
}
.right .tools_btn:hover {
  color: white;
  background-color: #333;
}

#menu_icon {
  display: none;
  cursor: pointer;
}
#menu_icon i {
  font-size: 26px;
}

/* Navbar end */

/* #### Scroll to top Button start #### */

#scrollToTopBtn {
  position: fixed;
  bottom: 30px;
  right: -60px;
  z-index: 999 !important;
  background-color: var(--color-orange);
  border: none;
  outline: none;
  border-radius: 50%;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  font-size: 24px;
  height: 56px;
  line-height: 56px;
  width: 56px;
  transition: right 0.5s ease-in-out;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4), -3px -3px 8px rgba(0, 0, 0, 0.2);
  animation: bounce 1.3s infinite;
}

@keyframes bounce {
  0% {
    bottom: 31px;
  }
  100% {
    bottom: 30px;
  }
}

/* #### Scroll to top Button end #### */

/*
nav {
  height: 12vh;
  width: 100%;
  background-color: #ffa600;
  background-color: #ffa600;
  position: relative;
  z-index: 22 !important;
}
#navbar {
  height: 12vh;
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#webtools {
  margin-left: -200px;
}
#tools {
  margin-left: -60px;
}
.left {
  display: flex;
  justify-content: center;
  align-items: left;
}
.left ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.left a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.3rem;
  transition: all 140ms ease-in-out;
}
.left li {
  transition-duration: 300ms;
}
.left li:hover {
  transform: rotateZ(5deg) scale(120%);
}
.left a:hover {
  color: black;
  text-decoration: none;
}
.left button {
  border: none;
  padding: 0.5em 0;
  border-radius: 5px;
  background-color: rgb(243, 243, 243);
  transition: all ease-in 170ms;
  position: relative;
  left: 5rem;
  transform: scale(1.1);
}
.left button a {
  color: black;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
  font-size: larger;
}

.left button:hover {
  transform: scale(1);
  background-color: black;
}
.left button a:hover {
  color: white;
}
*/

/* SECTION-1 */
.section-1 {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote {
  text-align: center;
  margin: 0 0 160px 0;
  font-size: 12px;
  line-height: 1.9;
  color: white;
  position: relative;
  z-index: 21 !important;
}

.content-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  margin: 2rem;
  font-family: "Cabin Condensed", sans-serif;
}

/* .right {
  margin-right: 70vh;
}
#logo {min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  padding: 0;
} */

.right-sec h1 {
  font-size: 3.2rem;
  width: 30vw;
  line-height: 1.2;
  color: var(--color-orange);
  /* background-color: green; */
}
.right-sec p {
  font-size: 2rem;
  /* background-color: green; */
  color: rgb(255, 255, 255);
}
#forYou {
  font-weight: bolder;
  font-size: 3.5rem;
}
.mini_sec_1 {
  /* background-color: rgb(0, 140, 255); */
  margin: auto;
  position: relative;
  z-index: 25 !important;
}

/* SECTION-2 */
/* .section-2 {
  width: 100%;
  font-size: 1.3rem;
  position: relative;
  z-index: -1;
} */
.content-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
  position: relative;
  margin-top: 5rem;
  font-family: "Cabin Condensed", sans-serif;
}
.right_mini_sec_2 {
  /* background-color:lightgreen; */
  position: relative;
  /* margin-right: 300px; */
  /* margin-left: 30px; */
  width: fit-content;
  /* color:white; */
  /* left: -5em; */
}
.left_mini_sec_2 {
  /* background-color:lightslategrey; */
  /* height: 50vw; */
  /*  font-size: 5px;*/
  /* color: yellow; */
  /* font-size: 2em; */
  width: 40vw;
  /* margin-top: 4%; */
  /* margin-right: 30px; */
  /* font-size: 2rem; */
  line-height: 1.2;
  font-family: cursive, sans-serif;
  color: var(--color-orange);
  float: right;
}
.left_mini_sec_2 h1 {
  font-size: 3em;
}
/* .left-sec {
  margin-top: 30px;
  margin-right: 10px;
} */
.left-sec img {
  box-shadow: 10px 10px 5px var(--color-orange);
  /* -moz-box-shadow: 10px 10px 5px #ffa600; */
  /* -webkit-box-shadow: 10px 10px 5px #ffa600; */
  /* -khtml-box-shadow: 10px 10px 5px #ffa600; */
}
.left-sec img:hover {
  will-change: transform;
}

/* .right-sec {
  margin-left: 10px;
} */

.ourtools_heading {
  font-family: cursive, sans-serif;
  position: relative;
  /* bottom: 50px; */
  /* margin: 42%; */
  color: #ffffff;
  text-shadow: 2px 2px 5px var(--color-orange);
  font-size: 2rem;
  text-decoration: underline;
  width: 100%;
  text-align: center;
}

.footer-basic {
  margin-top: 8rem;
  padding: 40px 0;
  color: #ffffff;
  border-top: 2px solid;
  border-top-color: #ffffff;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
  font-size: 1.5rem;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
  text-decoration: underline;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid var(--color-orange);
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 1.5rem;
  color: #aaa;
  margin-bottom: 0;
}
#particles-js {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  background: #262626;
}
.grid-container {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* QUOTE GENEREATOR */

#quote-text {
  /* border: 2px solid red; */
  color: white;
  font-size: 1.5rem;
  font-family: "Baloo Bhaijaan 2", cursive;

  /* font-family: "Corinthia", cursive; */
}
#quote-text::before {
  content: ' "  ';
}
#quote-text::after {
  content: '"';
}
.grid-item img {
  /* padding: 9px; */
  height: 150px;
  border-radius: 15px;
  border: 2px solid var(--color-orange);
  justify-self: center;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  transition: all 190ms ease-in-out;
}
.grid-container p {
  color: white;
}
.grid-item img:hover {
  transform: scale(1.25);
}

/* Loading Animation */
.animate__backInDown {
  --animate-duration: 2.2s;
}

.prj-item {
  /* width: fit-content; */
  padding: 0;
}

/* For Tablets */
@media only screen and (max-width: 992px) {
  .content-1 {
    flex-direction: column;
    row-gap: 50px;
  }
  .content-1 h1,
  .left_mini_sec_2,
  .right-sec {
    text-align: center;
  }
  .right-sec h1,
  .left_mini_sec_2 {
    width: auto;
  }
  .content-2 {
    flex-direction: column;
    row-gap: 50px;
  }
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .quote {
    margin-bottom: 120px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    padding: 20px;
  }
  #menu_icon {
    display: block;
  }
  #sidebar {
    position: fixed;
    height: calc(100vh - 68px);
    width: 320px;
    z-index: 999 !important;
    left: -320px;
    top: 68px;
    color: #fff;
    background-color: var(--color-orange);
    padding: 20px 0 0 0;
    transition: all 0.3s ease-out;
  }
  #sidebar ul {
    flex-direction: column;
    row-gap: 30px;
  }
  #sidebar.show {
    left: 0;
  }
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

/* For Mobiles */
@media only screen and (max-width: 576px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
