body{
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
  background-color: beige;
}

canvas{
  margin: 0px;

}
  
  #title{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
    animation: animate;
    animation-duration: 1s;
  }
  /* Animation */
  @keyframes animate {
    0%{
      letter-spacing: 0.5rem;
      opacity: 0;
    }
    100%{
      letter-spacing: 100%;
      opacity: 1;
    }
  }